#logo-img {
	height: 35px;
}

.navbar-brand {
	align-items: center;
}

.hidden {
	display:none;
}

.text-large {
  font-size: 100px;
}
 
.no-underline {
	text-decoration: none !important;
}


.mb-1 {
	margin-bottom: 10px;
}

.mb-2 {
	margin-bottom: 20px;
}

.mb-3 {
	margin-bottom: 30px;
}

.p-1 {
	padding: 10px;
}

.p-2 {
	padding: 20px;
}

.border-shadow {
	-webkit-box-shadow: 0px 5px 5px -1px rgba(0,0,0,0.52);
	-moz-box-shadow: 0px 5px 5px -1px rgba(0,0,0,0.52);
	box-shadow: 0px 5px 5px -1px rgba(0,0,0,0.52);
}

.col-content {
	transition: all ease 100ms;
}


.col-content:hover {
	-webkit-box-shadow: 0px 10px 10px -1px rgba(0,0,0,0.52);
	-moz-box-shadow: 0px 10px 10px -1px rgba(0,0,0,0.52);
	box-shadow: 0px 10px 10px -1px rgba(0,0,0,0.52);
}

.d-flex {
	display: -webkit-box;  /* OLD - iOS 6-, Safari 3.1-6, BB7 */
  	display: -ms-flexbox;  /* TWEENER - IE 10 */
  	display: -webkit-flex; /* NEW - Safari 6.1+. iOS 7.1+, BB10 */
  	display: flex;  
}

.flex-g-1 {
	flex-grow: 1;
}

.flex-g-2 {
	flex-grow: 2;
}

.flex-g-3 {
	flex-grow: 3;
}


.module {
	background-color: #fff;
}

/*
	Welcome page
*/

#register-link {
	text-decoration: none;
    border: 1px none;
    padding: 10px 30px;
    border-radius: 4px;
    background-color: #0dc60dba;
    font-size: large;
    color: #fff;
    transition: all ease 200ms;
}

#register-link:hover {
    background-color: #0dc60ddb;
}



/* rateable */
img {

  max-width: 100%; }

.preview {

  display: -webkit-box;

  display: -webkit-flex;

  display: -ms-flexbox;

  display: flex;

  -webkit-box-orient: vertical;

  -webkit-box-direction: normal;

  -webkit-flex-direction: column;

      -ms-flex-direction: column;

          flex-direction: column; }

  @media screen and (max-width: 996px) {

    .preview {

      margin-bottom: 20px; } }

.preview-pic {

  -webkit-box-flex: 1;

  -webkit-flex-grow: 1;

      -ms-flex-positive: 1;

          flex-grow: 1; }

.preview-thumbnail.nav-tabs {

  border: none;

  margin-top: 15px; }

  .preview-thumbnail.nav-tabs li {

    width: 18%;

    margin-right: 2.5%; }

    .preview-thumbnail.nav-tabs li img {

      max-width: 100%;

      display: block; }

    .preview-thumbnail.nav-tabs li a {

      padding: 0;

      margin: 0; }

    .preview-thumbnail.nav-tabs li:last-of-type {

      margin-right: 0; }

.tab-content {

  overflow: hidden; }

  .tab-content img {

    width: 100%;

    -webkit-animation-name: opacity;

            animation-name: opacity;

    -webkit-animation-duration: .3s;

            animation-duration: .3s; }

.card {

  background: #eee;

  padding: 3em;

  line-height: 1.5em; }

@media screen and (min-width: 997px) {

  .wrapper {

    display: -webkit-box;

    display: -webkit-flex;

    display: -ms-flexbox;

    display: flex; } }

.details {

  display: -webkit-box;

  display: -webkit-flex;

  display: -ms-flexbox;

  display: flex;

  -webkit-box-orient: vertical;

  -webkit-box-direction: normal;

  -webkit-flex-direction: column;

      -ms-flex-direction: column;

          flex-direction: column; }

.colors {

  -webkit-box-flex: 1;

  -webkit-flex-grow: 1;

      -ms-flex-positive: 1;

          flex-grow: 1; }

.product-title, .price, .sizes, .colors {

  text-transform: UPPERCASE;

  font-weight: bold; }

.checked, .price span {

  color: #ff9f1a; }

.product-title, .rating, .product-description, .price, .vote, .sizes {

  margin-bottom: 15px; }

.product-title {

  margin-top: 0; }

.size {

  margin-right: 10px; }

  .size:first-of-type {

    margin-left: 40px; }

.color {

  display: inline-block;

  vertical-align: middle;

  margin-right: 10px;

  height: 2em;

  width: 2em;

  border-radius: 2px; }

  .color:first-of-type {

    margin-left: 20px; }

.add-to-cart, .like {

  background: #ff9f1a !important;

  padding: 1.2em 1.5em !important;

  border: none;

  text-transform: UPPERCASE;

  font-weight: bold;

  color: #fff !important;

  -webkit-transition: background .3s ease;

          transition: background .3s ease; }

  .add-to-cart:hover, .like:hover {

    background: #b36800;

    color: #fff; }

.not-available {

  text-align: center;

  line-height: 2em; }

  .not-available:before {

    font-family: fontawesome;

    content: "\f00d";

    color: #fff; }

.orange {

  background: #ff9f1a; }

.green {

  background: #85ad00; }

.blue {

  background: #0076ad; }

.tooltip-inner {

  padding: 1.3em; }