.navbar {
	margin-bottom: 0 !important;
}

#hero-container {
	height: 450px;
    background-size: 100%;
    background-position: center center;
    background-repeat: no-repeat;
    background-attachment: fixed;
}

#overlay, #hero-content{
	height: 100%;
}

#hero-content {
	justify-content: center;
    width: 500px;
    margin-left: auto;
    margin-right: auto;
    flex-direction: column;
}

#overlay {
	background-color:#00000040;
}

#msg h1, #msg p{
	color: #fff;
	margin: 0;
}

#msg {
	width: 100%;
}

#msg h1 {
	font-family: "Montserrat bold";
	font-size: 40px;
}

#msg p {
	font-size: 18px;
}

