.investment-item {
	padding: 20px 20px;
}

.investment-item-header {
	height: 250px;
	background-size: cover;
	background-repeat:no-repeat;
	background-position: center center;
}

.rating {
	 pointer-events: none;
}

.clear-rating {
	display: none !important;
}

